APP_ENV=develop

PORT=3000
TZ=America/La_Paz

DB_HOST=database #localhost si no esta dentro del contendor
DB_PORT=5432
DB_NAME=integrations_multipago
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=integrations

KAFKA_ENABLED=true
KAFKA_GROUP_ID=integrations
KAFKA_CONSUMER_CONNECTION_TIMEOUT=10000
KAFKA_CONSUMER_RETRIES=3
KAFKA_CONSUMER_RETRY_FACTOR=2
KAFKA_CONSUMER_INITIAL_RETRY_TIME=3000
KAFKA_CONSUMER_SESSION_TIMEOUT=100000
KAFKA_CONSUMER_HEARTBEAT_INTERVAL=10000
KAFKA_BROKERS=kafka_1:9092,kafka_2:9092 # localhost si no esta dentro del contendor

MULTIPAGO_URL='https://wwwstg1.multipago.com'
MULTIPAGO_PROVIDER='app_cainco'
MULTIPAGO_REFERENCE_STATUS='reservado'
MULTIPAGO_SERVICE_CODE='APP_CAINCO_URL'
MULTIPAGO_URL_CONFIRM='https://google.com/confirm'
MULTIPAGO_URL_FAIL='https://google.com/fail'
MULTIPAGO_UID='46b2e139e16b52fd43ac8922070e9abb'

ENABLED_CRON_JOB_EXECUTE_QUEUE_REGISTRIES='true'
CRON_JOB_EXECUTE_QUEUE_REGISTRIES='* * * * *'
QUEUE_REGISTRY_MAX_RETRIES=3

ENABLED_CRON_JOB_EXECUTE_PAY_ORDERS='true'
CRON_JOB_EXECUTE_PAY_ORDERS='* * * * *'
