apiVersion: v1
kind: Secret
metadata:
  name: gs1-integrations
  namespace: gs1
  labels:
    project: gs1
    service: gs1-integrations
stringData:
  POSTGRES_PASSWORD: 'gs1-integrations-password'
  POSTGRES_DB: 'gs1_integrations'

  DB_HOST: 'gs1-integrations-db'
  DB_PORT: '5432'
  DB_NAME: 'gs1_integrations'
  DB_USERNAME: 'postgres'
  DB_PASSWORD: 'gs1-integrations-password'
  KAFKA_ENABLED: 'true'
